<ons-page ng-controller="GirlController as gc">
<ons-toolbar>
  <div class="left">
    <ons-back-button>Back</ons-back-button>
  </div>
  <div class="center">The Girls</div>
</ons-toolbar>
<div class="content" infinite-scroll="scrollGirlWods()" infinite-scroll-disabled='girlWods.busy' infinite-scroll-distance='1'>
  <ons-search-input placeholder="Search WOD" class="fullWidth searchBar" ng-model="wod"></ons-search-input>
  <ons-list class="wodList">
    <ons-list-item ng-repeat="girl in girlWods.items | orderBy: 'title' | filter: wod" ng-click="goToPage('overview', {
        data: {
            title: girl.title,
            workout: girl.workout,
            workout_title: girl.workout_title
        }
    })" modifier="chevron" tappable>
        <div>
            <h1 class="title" ng-bind-html="girl.title"></h1>
            <span class="workoutTitle" ng-bind-html="girl.workout_title"></span>
        </div>
    </ons-list-item>
    <div ng-show="girlWods.busy" style="text-align: center;">
      <ons-progress-circular indeterminate></ons-progress-circular>
      <p>Fetching WODs...</p>
    </div>
  </ons-list>
</div>
</ons-page>