<ons-page>
  <ons-toolbar>
    <!-- <div class="right">
    <ons-toolbar-button>
      <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;" onclick="openNav()"></ons-icon>
    </ons-toolbar-button>
  </div> -->
    <div class="center">WOD Pal</div>
  </ons-toolbar>
  <!-- <div id="mySidenav" class="sidenav" onclick="closeNav()">
  <div id="side">
    <a href="#">About</a>
    <a href="#">Contact</a>
  </div>
</div> -->
  <div class="content">
    <ons-list>
      <ons-list-item ng-click="goToPage('benchmarks')" tappable>Benchmarks</ons-list-item>
      <ons-list-item ng-click="goToPage('girls')" tappable>The Girls</ons-list-item>
      <ons-list-item ng-click="goToPage('heroes')" tappable>The Heroes</ons-list-item>
      <ons-list-item ng-click="goToPage('qualifiers')" tappable>Qualifiers</ons-list-item>
    </ons-list>

    <div style="position: absolute; bottom: 10px; width: 100%; color: #8c8c8c; font-size: 14px;">More features coming
      soon!</div>
  </div>

  <!-- <script>
document.getElementById('side').style.pointerEvents = 'none';

function openNav() {
    document.getElementById("mySidenav").style.width = "100%";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script> -->
</ons-page>