<ons-page ng-controller="QualifierController as qc">
<ons-toolbar>
  <div class="left">
    <ons-back-button>Back</ons-back-button>
  </div>
  <div class="center">Qualifiers</div>
</ons-toolbar>
<div class="content" infinite-scroll="scrollQualifierWods()" infinite-scroll-disabled="qualifierWods.busy" infinite-scroll-distance="1">
  <input type="search" value="" placeholder="Search WOD" class="search-input search-input--material fullWidth searchBar" ng-model="wod">
  <ons-list class="wodList">
    <ons-list-item ng-repeat="qualifier in qualifierWods.items | orderBy: 'title' | filter: wod" ng-click="goToPage('overview', {
        data: {
            title: qualifier.title,
            workout: qualifier.workout,
            workout_title: qualifier.workout_title
        }
    })" modifier="chevron" tappable>
        <div>
            <h1 class="title" ng-bind-html="qualifier.title"></h1>
            <span class="workoutTitle" ng-bind-html="qualifier.workout_title"></span>
        </div>
    </ons-list-item>
    <div ng-show="qualifierWods.busy" style="text-align: center;">
      <ons-progress-circular indeterminate></ons-progress-circular>
      <p>Fetching WODs...</p>
    </div>
  </ons-list>
</div>
</ons-page>