<ons-page ng-controller="TimerController as tc">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center" ng-bind-html="data.title"></div>
    </ons-toolbar>

    <div class="content">
        <div id="timer">
            <timer autostart="false" interval="1000">
                {{mminutes}}:{{sseconds}}
            </timer>
        </div>

        <div class="center">
            <button class="button toggleTimer" ng-click="toggleTimer()">{{ (timerStatus === '' || timerStatus === 'stopped') ? 'Start' : 'Stop' }}</button>
            <button class="button resetTimer" ng-click="resetTimer()">Reset</button>
        </div>
    </div>
</ons-page>